html,
  body {
    height: 100%; /*setting this explicitly is important*/
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    margin-left: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    font-size: 0.9em;
  }

header {
  flex: 0 0 75px;
  display: flex; /* flex container with flex items: Title and eventual menu */
  align-items: center;
  flex-direction: row;
  padding: 10px;
  color: black;
  background-color: white;
  max-width: 900px;
}

main {
    flex: 1 1 auto; /*fill the available space, image for now, eventually pages*/
    justify-content: center;
    align-items: center;
    padding: 0px;
    max-width: 900px;
}

footer {
  flex: 0 0 75px;
  display: flex; /*flex container with social links */
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  color: black;
  background-color: white;
  max-width: 900px;
}

h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 40px;
}

.profile-img {
  min-width: 150px;
  max-width: 900px;
}

.flex-item-social{
  background-color: white;
  padding: 5px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;}

a:hover:not(.active) {
  text-decoration: underline;
  /*background-color: #b3d4fc; */}
